* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  padding: 137px 124px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_23 {
  width: 100%;
  height: 618px;
  background: url("../images/v2_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 124px;
  overflow: hidden;
}
.v1_5 {
  width: 496px;
  height: 330px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 491px;
  overflow: hidden;
}
.v1_4 {
  width: 496px;
  height: 330px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 403px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 68px;
  font-family: Holtwood One SC;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_16 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 431px;
  left: 1px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_17 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 1px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_19 {
  width: 764px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 536px;
  left: 0px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 406px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 592px;
  left: 1px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
